body {
  text-align: center;
  margin: 0px;
  padding: 0px;
    /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 3px solid #00D8FF;
}

.center {
  width: 75%;
  margin: 0px auto;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -9px;
  animation: girar infinite 20s linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

#brand {
  display: block;
  margin: 0px;
  float: left;
}

#menu {
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 60%;
  float: right;
}

#menu ul li {
  list-style: none;
  height: 46px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  text-decoration: none;
  color: #3cb2d3;
  transition: 300ms all;
}
.clearfix {
  clear: both;
  float: none;
}

#slider {
  width: 100%;
  height: 350px;
  /*line-height: 320px;*/
  text-shadow: 0px 0px 5px #444;
  color: white;

  /*DEGRADADO CSS GENERATOR*/
  background: rgba(112,220,237,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(112,220,237,1) 0%, rgba(0,217,255,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(112,220,237,1)), color-stop(100%, rgba(0,217,255,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(112,220,237,1) 0%, rgba(0,217,255,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(112,220,237,1) 0%, rgba(0,217,255,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(112,220,237,1) 0%, rgba(0,217,255,1) 100%);
  background: radial-gradient(ellipse at center, rgba(112,220,237,1) 0%, rgba(0,217,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70dced', endColorstr='#00d9ff', GradientType=1 );
}

#textoh1 {
  padding: 0px;
  margin-top: 0px;
  text-align: center;
  padding-top: 130px;
}

.btn-white {
  display: block;
  background: white;
  color: #444;
  padding: 10px;
  width: 100px;
  height: 35px;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px grey;
  margin-top: 40px;
  border-radius: 3px;
  transition: 300ms all;
}

.btn-white:hover {
  background-color: #444;
  color: white;
}

#slider.slider-small{
  height: 150px;

}

#slider.slider-small h1{
  padding: 0px;
  padding-top: 53px;
  text-align: center;
}

#content {
  width: 70%;
  float: left;
  min-height: 650px;
  margin-right: 25px;
}

#sidebar{
  width: 25%;
  float: left;
}

.sidebar-item {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3{
  text-transform: uppercase;
  font-size: 17px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(218, 218, 218);
}

.sidebar-item .btn{
  margin-top: 10px;
  margin: 0px auto;
}

.btn {
  display: block;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  transition: 300ms all;
  border: none;
  cursor: pointer;
}

.btn-success {
  background: rgb(42, 175, 2);
}

.btn-success:hover {
  background: black;
}

input[type="text"], 
textarea {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 3px;
  transition: 300ms all;
}

.mid-form{
  width: 50%;
  margin: 0px auto;

}

.mid-form label{
  display: block;
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

.radiobuttons {
  margin-top: 10px;
  display: block;
  float: left;
  margin-bottom: 10px;
}


textarea{
  width: 100%;
  max-height: 300px;
  min-width: 300px;
  min-height: 150px;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0px 0px 4px #ccc inset;
}

#footer{
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #ccc;
}
#footer p{
  margin: 0px;
  padding: 0px;
}

.article-item {
  width: 100%;
  border-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-item .image-wrap {
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}
.article-item .image-wrap img {
  height: 100%;
  text-align: center;
  
}
.article-item h2{
  display: block;
  font-style: italic;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  color: rgb(122, 122, 122);
}
.article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
}

.article-item a:hover {
  text-decoration: underline;
}

.subheader {
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.article-detail .image-wrap{
  float: none;
  width: 100%;
  height: 300px;
}

.article-detail .image-wrap img{
  width: 100%;
  height: auto;
}

.article-detail .subheader{
  margin-top: 15px;
  margin-bottom: 0px;
  border: none;
}

/*RESPONSIVE DESIGN*/

/*desde anchura 0px hasta 1473px de pantalla*/
@media (max-width: 1473px){
  .center{
    width: 85%;
  }
}

@media (max-width: 1381px){
  .center {
    width: 95%;
  }

  #menu ul{
    width: auto;
  }
}

@media (max-width: 740px){

  #mid-form{
    width: 70%;
  }
  #logo {
    float: none;
    width: 240px;
    margin: 0px auto;
    margin-top: 20px;
  }
  #menu,
  #menu ul{
    clear: both;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 43px;
  }

  #content {
    float: none;
    width: 100%;
  }

  #sidebar{
  float: none;
  width: 60%;
  margin: 0px auto;
  margin-bottom: 50px;
  }

  #slider h1{
    padding-top: 100px;
    font-size: 25px;
  }
}

@media (max-width: 497px){
  
  #header {
    min-height: 130px;
    overflow: hidden;
  }
  
  #menu,
  #menu ul {
    line-height: 50px;
  }
  
  #menu ul li {
    margin-right: 7px;
    margin-left: 7px;
  }
  
  #slider {
    height: 180px;
  }

  #slider h1{
    font-size: 19px;
    padding-top: 30px;
  }

  #slider .btn-white {
    margin-top: 20px;
  }

  #slider.slider-small {
    height: 100px;

  }

  
  #slider.slider-small h1{
    padding-top: 35px;
  }
}